* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: open-sans, sans-serif;
  font-size: 18px;
  background-color: #cbdf9d;
  text-align: center;
}

main {
  max-width: 400px;
  margin: 80px auto;
  border-radius: 20px;
  overflow: hidden;
}

.container {
  height: auto; 
  width: 100%;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto; 
  display: block;
}

.text {
  background-color: #9ddcdf;
  color: #0c2224;
  padding: 25px;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0rem;
  font-size: 1rem;
  margin-top: -4px;
  margin-bottom: 15px;
  color: #013220;
}

p.quote {
  font-style: italic;
  font-size: .75rem;
  text-transform: lowercase; 
  line-height: 1.5; 
  margin: 15px;
}

p.character {
  font-weight: bold;
  font-size: 0.9rem;
  color: #c28500;
}
  
  
  
