* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: open-sans, sans-serif;
  font-size: 16px;
  background-color: #cbdf9d;
  text-align: center;
}

.image {
  height: auto;
  width: auto;
  border-radius: 30px;
}

.text {
  background-color: #9ddcdf;
  color: #0c2224;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-size: 3.5rem;
  color: #013220;
}
  
