* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: open-sans, sans-serif;
  font-size: 16px;
  background-color: #cbdf9d;
  text-align: center;
}

.image {
  height: auto; /*idk if these are right*/
  width: auto;
  border-radius: 30px;
  margin: 0;
}

.text {
  background-color: #9ddcdf;
  color: #0c2224;
  text-align: center;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 35px;
  color: #013220;
}

p.quote {
  font-style: italics;
  font-size: 20px;
  text-transform: lowercase; 
  line-height: 1.5rem;
  margin: 15px;
}

p.author {
  font-style: bold;
  color: #c28500;
}
  
  
  
